<footer class="footer ">
    <div class="container has-text-white">
        <div class="columns has-text-centered ">
            <div class="column">
                <p href="">FAQ</p>
                <p href="">Ethics</p>
            </div>
            <div class="column">
                <p href="">Privacy</p>
                <p href="">Contact</p>
            </div>
            <div class="column">
                <p href="">Security</p>
                <p href="">About</p>

            </div>
        </div>
        <div class="has-text-centered">
            <p class="has-text-white">
                <strong class=" has-text-white">Authored</strong> by
                <a href="http://kennymark.co.uk/new ">Kenneth Mark Coffie</a>.</p>
            <p>A Dissertation Project, University of Chester</p>
            <a href="">HTML Validator</a>
        </div>
    </div>
</footer>