<nav class="navbar is-link is-medium has-shadow">
    <div class="container">
        <div class="navbar-start">
            <a class="navbar-item " href="/">Home</a>

            <a class="navbar-item">Try Demo</a>
            <a class="navbar-item" href="/auth/fitbit">Dashboard</a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class=" button is-white " href="/login">User Login</a>
            </div>
        </div>
    </div>


</nav>