<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/css/bulma.css">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <script src="../../public/js/main.js"></script>

    <title>{{title}}</title>
</head>

<body>

    {{>header}} {{{body}}} {{>footer}}


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.js"></script>
<script src="https://rawgit.com/pablomolnar/radial-progress-chart/master/dist/radial-progress-chart.js"></script>
<script src="../../public/js/main.js"></script>

</html>