<div class="dashboard-container">
  <div class="level">
    <div class="level-left">
      <h1 class="title is-1 spacy">Dashboard</h1>
    </div>
    <div class="level-right">
      <a class=" button is-black is-large" href="/auth/settings">Settings &rarr;</a>
    </div>
  </div>


  <p class="title is-4">{{date}}</p>
  <div class="grid dailygrid">
    <div class=" chart blue">
      <div class="calories rings"></div>
    </div>
    <div class="chart ">
      <div class="steps rings"></div>
    </div>
    <div class=" chart ">
      <div class="sleepy rings"></div>
    </div>
  </div>
  <div class="grid weeklygrid">
    <div class="weekly">
      <canvas id="distanceChart" class="weeklychart" width="400" height="400"></canvas>
    </div>
    <div class="weekly">
      <canvas id="weeklyStepsChart" class="weeklychart" height="400"></canvas>
    </div>
  </div>

  <section class=" sleep">
    <div class="hero-body">
      <div class="container">

        <li id='activeMinutesGoal' hidden>Active Minutes{{data.goals.activeMinutes}}</li>
        <li id='stepsGoal' hidden>{{data.goals.steps}}</li>
        <li id='caloriesOutGoal' hidden>{{data.goals.caloriesOut}}</li>
        <li id='distanceGoal' hidden>{{data.goals.distance}}</li>
        <li id='actualActiveScore' hidden>{{data.summary.activeScore}}</li>
        <li id='actualCaloriesOut' hidden>{{data.summary.caloriesOut}}</li>
        <li id='fairlyFairActiveMinutes' hidden>{{data.summary.fairlyActiveMinutes}}</li>
        <li id='actualLightlyActiveMinutes' hidden>{{data.summary.lightlyActiveMinutes}}</li>
        <li id='actualSedentaryMinutes' hidden>{{data.summary.sedentaryMinutes}}</li>
        <li id='actualActiveMinutes' hidden>{{data.summary.veryActiveMinutes}}</li>
        <li id='actualSteps' hidden>{{data.summary.steps}}</li>

        {{#each data.summary.distances}}
        <li id='distances' hidden>{{this.distance}}</li>
        {{/each}} {{userdata.user.age}} {{#each WeeklySteps.activities-steps}}
        <div class="level">
          <div class="level-left">

            <p id='stepDate'>{{this.dateTime}} </p>
          </div>
          <div class="level-right">

            <p id='stepValue'>{{this.value}}</p>
          </div>
        </div>


        {{/each}}

      </div>

    </div>

  </section>


  <section class="hero is-medium is-white spacy">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Comments
        </h1>
        {{#each comments}}
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  {{this.comment}}
                  <br><small>Date: {{this.date}}</small>

                </p>
              </div>
            </div>
          </article>
        </div>
        {{/each}}
      </div>
    </div>
  </section>
</div>

<br>
<br>