<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 ">
                The page <span class="has-text-warning">{{page}}</span> you are looking for does not exit 
            </h1>
            <p></p>
            <h2 class="title is-1 has-text-black">
                Error 404 👎
            </h2>
        </div>
    </div>
</section>