<div class="container spacy">
  
  <h1 class="title is-1">Welcome Dr {{gp.name}}</h1>
  <h2 class="title has-text-weight-light">Your patient is {{user.fullName}} </h2>
  <p class="title is-4">{{user.displayName}} Fitness Details</p>
  <section>
    <div class="columns">
      <div class="column is-8">

        <div class="control">
          <p class="title is-5 ">
            <strong>Gender :</strong> {{user.gender}} </p>
        </div>
        <br>

        <div class="control">
          <p class="title is-5 ">
            <strong>Weight :</strong> {{user.weight}} kg </p>
        </div>
        <br>

        <div class="control">
          <p class="title is-5 ">
            <strong>Timezone :</strong> United Kingdom </p>
        </div>
        <br>

        <div class="control">
          <p class="title is-5 ">
            <strong>Timezone :</strong> {{user.timezone}} </p>
        </div>
        <br>

        <div class="control">
          <p class="title is-5 ">
            <strong>Member Since :</strong> {{user.memberSince}} </p>
        </div>
        <br>
        <div class="control">
          <p class="title is-5 ">
            <strong>Stride Length Running :</strong> {{user.strideLengthRunning}} miles </p>
        </div>
        <br>
        <div class="control">
          <p class="title is-5 ">
            <strong>Stride Length Walking :</strong> {{user.strideLengthWalking}} miles </p>
        </div>
        <br>
      </div>

    </div>
  </section>
  <form action="/submitcomment" method="post">
    <textarea name="comment" class="textarea" placeholder="Type comment here" rows="10"></textarea>
    <br>
    <br>
    <input type="submit" class="button is-primary" value="Comment"></input>
  </form>

  
</div>


<br>
<br>