<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="hero is-large exercise-image is-link">
    <div class="hero-body">
        <div class="container">
            <h1 class="is-white title is-1 is-spaced ">Welcome to GPFit</h1>
            <p class="is-white subtitle is-4">Share your fitness data with your GP and get better
                <br> advice next time you see your GP</p>
            <a class="button is-primary btn" href="/register"> Register as GP</a>
            <a class="button is-white btn " href="/gplogin">Login as a GP</a>
        </div>
    </div>
</section>

<section class="is-link">
    <div class="container ">
        <br>
        <br>
        <div class="columns">
            <div class="column">
                <h1 class="title">
                    Multiple data points
                </h1>
                <p> GPFit can extract data from multiple data points such GoogleFit, Fitbit etc. All that data is then gathered
                    and then presented to you in a beautiful dashboard. More data points will be added in the future, these
                    include Withings, Nike, Edmondo, Apple Health
                </p>
            </div>
            <div class="column">
                <h1 class="title">
                    Your data is safe
                </h1>
                <p>Your fitness data is only available to you and you only. Third parties only get their hands on it only if
                    you give them the permission to do so. With you GPFit, not only are you in charge of you data but you
                    can also monitor
                </p>
            </div>
            <div class="column">
                <h1 class="title">Better fit you become</h1>
                <p>As the saying goes, two heads is always better than one. Once you have given your GP permission to view your
                    data, they will have the ability view it, comment on it or send you an email. </p>
            </div>

        </div>
        <br>
    </div>
</section>

<section class="hero is-light is-medium">
    <div class="hero-body">
        <div class="container">

            <h1 class="subtitle is-4">
                GPFit works by gathering all your fitness data from the services you use and presents them to you in a pretty dashboard.
                And oh, you can invite a GP to watch how you progress.
            </h1>
        </div>
    </div>
</section>
<div class="screenshot">
    <div class="description">
        <h1 class="title is-1">A beautiful dashboard that you will love</h1>
    </div>
    <div class="dashboard">
        <img src="/public/images/dasboard2.jpg" alt="">
    </div>
</div>