<section class="hero is-fullheight">
  <div class="hero-body has-text-centered">
    <div class="container">
      <div class="container">
        <div class="columns">

          <div class="column">
            <h1 class="title is-1" style=" margin-top: 10%;">Login Here</h1>
          </div>
          <div class="column loginborder">
            <p>
              <a href="/auth/fitbit" class="button service is-medium is-success">Connect with FitBit</a>
            </p>
            <br>
            <p>
              <a href="#" class="button service is-medium is-primary" disabled>Connect with Strava</a>
            </p>
            <br>
            <p>
              <a href="/googlefit" class="button service is-medium is-info" disabled>Connect with Google</a>
            </p>
            <br>

            <p>
              <a href="/googlefit" class="button service is-medium is-black" disabled>Connect with Nike</a>
            </p>

          </div>
        </div>
      </div>


    </div>
  </div>
</section>