<section class="hero is-fullheight">
    <div class="hero-body ">
        <div class="container">
            <div class="container">
                <div class="columns">

                    <div class="column">
                        <h1 class="title is-1" style=" ">Register Here</h1>
                        <p>GP's only</p>
                    </div>
                    <div class="column loginborder has-text-centered is-5">
                        <form action="/register" method="post">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control">
                                    <input class="input" type="text" name="gpName" required placeholder="Enter your name" required class="input is-success">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control">
                                    <input class="input" type="text" name="gpEmail" placeholder="Enter your name" required class="input is-success">
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Hospital</label>
                                <div class="control">
                                    <input class="input" type="text" name="gpHospital" placeholder="Enter Hospital Name" class="input is-success" required>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">Password</label>
                                <div class="control">
                                    <input class="input" name="gpPassword" type="password" placeholder="Password" class="input is-success">
                                </div>


                            </div>
                            <div class="field">
                                <button class="button is-link is-medium">Register Here</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>