<div class="container">
	<h1 class="title is-1 spacy">Settings</h1>
	<div class="level">
		<div class="level-left">
			<h2 class="title is-3">Profile for
				<span class="has-text-weight-light">{{userdata.user.fullName}}</span>
			</h2>
		</div>
		<div class="level-right">
			<h2 class="title is-3">User ID :
				<span class="has-text-weight-light">{{userdata.user.encodedId}}</span>
			</h2>
		</div>
	</div>


	<br>
	<div class="level">
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Daily Average Steps</p>
				<p class="title">

					{{userdata.user.averageDailySteps}}</p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Date of Birth</p>
				<p class="title">{{userdata.user.dateOfBirth}} </p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Gender</p>
				<p class="title">{{userdata.user.gender}}</p>
			</div>
		</div>
		<div class="level-item has-text-centered">
			<div>
				<p class="heading">Height</p>
				<p class="title">{{userdata.user.height}} cm</p>
			</div>
		</div>
	</div>
	<br>

	<div class="columns">
		<div class="column is-8">

			<div class="control">
				<p class="title is-5 ">
					<strong>Gender :</strong> {{userdata.user.gender}} </p>
			</div>
			<br>

			<div class="control">
				<p class="title is-5 ">
					<strong>Weight :</strong> {{userdata.user.weight}} kg </p>
			</div>
			<br>

			<div class="control">
				<p class="title is-5 ">
					<strong>Timezone :</strong> United Kingdom </p>
			</div>
			<br>

			<div class="control">
				<p class="title is-5 ">
					<strong>Timezone :</strong> {{userdata.user.timezone}} </p>
			</div>
			<br>

			<div class="control">
				<p class="title is-5 ">
					<strong>Member Since :</strong> {{userdata.user.memberSince}} </p>
			</div>
			<br>
			<div class="control">
				<p class="title is-5 ">
					<strong>Stride Length Running :</strong> {{userdata.user.strideLengthRunning}} miles </p>
			</div>
			<br>
			<div class="control">
				<p class="title is-5 ">
					<strong>Stride Length Walking :</strong> {{userdata.user.strideLengthWalking}} miles </p>
			</div>
			<br>
		</div>

	</div>



	<h1 class="title is-3">Give Access</h1>
	<form action="/sendtoGP" method="POST">
		<div class="field ">
			<p>If "Give Access" button is clicked, your user data will be sent to the GP</p>
			<br>

			<div class="control">
				<label class="title is-6" for="gpmail">GP / Personal Trainer Email</label>
				<br>
				<br>
				<input class="input is-primary" name="gpemail" type="text" id="email">
			</div>

			<br>
			<br>

			<div class="btns">
				<input type="submit" class="button is-medium is-primary" id="sendToGP" value="Send Request">

				</a>

				<a class="button is-medium is-dark" id="cancel">
					Cancel
				</a>
			</div>

		</div>
	</form>

	<br>
	<br>

</div>
<script>
	let button = document.getElementById('sendToGP');
	let cancel = document.getElementById('cancel')
	let input = document.getElementById('email');

	button.addEventListener('click', () => {
		confirm(`Do you want to give ${input.value} access to your data?`);
	});
	cancel.addEventListener('click', () => input.value = '')

</script>