@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

* {
	font-family: "Montserrat", sans-serif;
}

.title {
	font-weight: 600;
}

.input {
	font-family: "Montserrat";
	box-shadow: none;
}
.input:focus {
	outline: none !important;
}
.label {
	text-align: left;
}
.exercise-image {
	/* background-image: url('/public/images/autumn-goodman-230240.jpg') !important; */
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar {
	min-height: 4.25rem;
}

.big {
	height: 400px;
}
.chart {
	border-radius: 15px;
	box-shadow: 3px 3px 6px #0003;
	cursor: pointer;
}
@keyframes changesize {
	to {
		box-shadow: 6px 3px 8px #0003;
		transform: scale(1.02);
	}
}
/* code from https://stackoverflow.com/questions/13309673/how-to-play-css3-transitions-in-a-loop */
.chart:hover {
	animation-duration: 0.4s;
	animation-name: changesize;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.blue {
	background: linear-gradient(135deg, #17ead9 0%, #6078ea 100%);
}

.chart:nth-child(2) {
	background: linear-gradient(135deg, #ff7676 0%, #f54ea2 100%);
}

.chart:nth-child(3) {
	background: black;
}

.sleep {
	border-radius: 15px;
	margin-top: 50px;
	background-image: linear-gradient(135deg, #fad961 0%, #f76b1c 100%);
	height: 420px;
	box-shadow: 3px 3px 6px #0003;
}

.sleep:hover {
	animation-duration: 0.4s;
	animation-name: changesize;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.service {
	width: 250px;
}

.loginborder {
	border-left: 2px solid black;
}

.footer {
	background: black;
	padding: 3rem 1.5rem;
}

.btn {
	margin-right: 20px;
	height: 50px;
	width: 250px;
}

.fixed {
	position: absolute;
	clear: both;
}

.spacy {
	padding: 35px 0px;
}

.screenshot {
	height: 700px;
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.screenshot .dashboard{
	height: 700px;
}
.screenshot .description{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.screenshot .description h1{
	width: 70%
}
.rings {
	width: 310px !important;
	margin: 10px auto;
}

.dashboard img{
	height: 100%;
	width: 100%;
}
.dashboard-container {
	width: 80%;
	margin: auto;
}
.rbc-label-start {
	font-family: fontawesome;
	font-weight: bold;
	font-size: 30px;
}

.rbc-center-text {
	font-family: "Roboto", "Myriad Set Pro", Arial;
	fill: white;
}

.calories .rbc-center-text-line0 {
	font-size: 73px;
}

.calories .rbc-center-text-line1 {
	font-size: 20px;
	margin-top: 10px;
}

.sleepy .rbc-center-text-line0 {
	font-size: 80px;
}

.sleepy .rbc-center-text-line1 {
	font-size: 20px;
	margin-top: 10px;
}

.steps .rbc-center-text-line0 {
	font-size: 70px;
}
.grid {
	display: grid;
	grid-column-gap: 20px;
}
.dailygrid {
	grid-template-columns: 1fr 1fr 1fr;
}

.weeklygrid {
	grid-template-columns: 1fr 1fr;
}

.weekly {
	height: 400px;
	border-radius: 15px;
	box-shadow: 3px 3px 6px #0003;
	margin-top: 40px;
	border: 1px solid #dedede;
}

.weeklychart {
	height: 100%;
	width: 100%;
	background: #e9e8e829;
	border-bottom: 1px solid #eee;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#distanceChart {
	height: 400px !important;
	width: 100% !important;
	border:0px;
}
li{
	list-style: none;
}

.info{
	width: 60%;
	margin: auto
}